<th scope="row">
  {{lp}}
</th>
<td>
  <input 
    (input)=handleAutoSuggestions($event)
    class="form-control" type="text" name="name" [value]=position.name />
    <ul class="suggestions" *ngIf=showSuggestions>
      <li *ngFor="let suggestion of suggestions">{{ suggestion.label }}</li>
    </ul>
</td>
<td>
  <input class="form-control" type="number" name="quantity" [value]=position.quantity />
</td>
<td>
  <select class="form-control" name="unit" [value]=position.unit>
    <option *ngFor="let u of availableUnits" [value]=u>{{u}}</option>
  </select>
</td>
<td>
  <div class="input-group">
    <input
      [(ngModel)]=position.netto
      (change)=handleNettoChanged()
      type="number" 
      class="form-control"
      name="netto" 
      [value]=position.netto />
    
    <div class="input-group-append">
      <span class="input-group-text">PLN</span>
    </div>
  </div>
  
</td>
<td>
    <select
      (change)=handleTaxChanged()
      [(ngModel)]=position.tax
      class="form-control" name="tax" [value]=position.tax>
        <option *ngFor="let t of availableTaxes" [value]=t>{{t}}</option>
    </select>
</td>
<td>
  <div class="input-group">
    <input 
    (change)=handleBruttoChanged()
    [(ngModel)]=position.brutto
    type="number" class="form-control" name="brutton" [value]=position.brutto />
    <div class="input-group-append">
      <span class="input-group-text">PLN</span>
    </div>
  </div>
<td>
  <button (click)=removePosition()>
    <i class="fa fa-trash"></i>
  </button>
</td>